body {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container1 {
  margin: 0;
  text-align: center;
  background-color: rgb(219, 245, 255);
  height: 610px;
}

.flex-box {
  display: flex;
  margin-top: 3%;
  gap: 20px;
  justify-content: space-around;
}

header {
  position: relative;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: darkblue;
}

.column1 {
  align-self: center;
  flex-basis: 300px;
}

.column1 h6 {
  font-weight: lighter;
  font-size: medium;
  color: #686868;
  padding: 0px;
  margin: 0 auto;
}

.column1 p {
  color: #003434;
  font-weight: bolder;
  font-size: 25px;
  text-align: justify;
  margin: 0 auto;
}

.column1 button {
  color: #f3ffff;
  background-color: #003434;
  padding: 15px 45px;
  border: solid 1px;
  border-radius: 25px;
  margin: 0 auto;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.column1 button:hover {
  background-color: #f3ffff;
  color: #003434;
}

.column2 {
  border-radius: 50px 0px;
  align-self: center;
}

.column2 img {
  border-radius: 250px 0px;
  height: 450px;
  width: 400px;
  background: linear-gradient(to right, #79dcf75d, #01ffee63);
  display: inline-block;
  margin: 0 auto;
}

.column3 {
  flex-basis: 300px;
  align-self: center;
}

.column3 h3 {
  color: #003434;
  font-weight: bolder;
  font-size: 25px;
  text-align: start;
}

.column3 pre {
  color: #686868;
  font-weight: normal;
}

.container2 {
  background-color: #003434;
  padding: 40px;
  border-radius: 50px;
  text-align: center;
  margin: 0px 200px;
  position: relative;
  top: 100px;
  height: 300px;
  width: auto;
}

.features-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  top: -120px;
}

.item {
  padding: 20px;
  width: 250px;
  text-align: center;
  background-color: transparent;
  color: rgb(151, 176, 183);
  transition: transform 0.5s ease-in;
  align-items: center;
}

.item:hover {
  transform: translateY(10px);
}

.item-img {
  width: 80px;
  height: 80px;
  background-color: #c8effd;
  border-radius: 50%;
  color: rgb(0, 81, 89);
}

.container3 {
  position: relative;
  margin: 0 auto;
  top: 180px;
  max-width: 1200px;
}

.features-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.layout {
  border-radius: 20px;
  background-color: rgb(192, 240, 255);
  text-align: left;
  width: 250px;
  height: 150px;
  margin-bottom: 15px;
  padding: 0px 0px 0px 5px;
}

.layout-img {
  position: relative;
  width: 150px;
}

.layout-1 {
  width: 40%;
}

.layout-1 h4,
p {
  font-size: 10px;
  text-align: start;
}

.layout h4 {
  background-color: transparent;
  position: relative;
  left: 15px;
  margin: 1;
}

.layout a {
  background-color: transparent;
  position: relative;
  text-align: left;
  left: 15px;
  bottom: -35px;
  color: #0091a1;
}

.layout p {
  position: relative;
  left: 15px;
}

.layout-7 {
  flex-basis: 200px;
  border-radius: 500px 0px;
}

.footer {
  margin: 0;
  padding: 20px;
  position: relative;
  background: #002f2f;
  top: 250px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.footer h5,
b,
a {
  line-height: 2px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
}

.footer-lyt {
  border-radius: 20px;
  background-color: #006363;
  text-align: center;
  flex: 0 0 250px;
}

.footer-lyt i {
  padding: 10px;
  font-size: 40px;
  background-color: transparent;
  color: whitesmoke;
}

@media (max-width: 768px) {
  body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .container1 {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
  }

  .flex-box {
    display: flex;
    margin-top: 3%;
    justify-content: space-around;
    flex-direction: column;
    gap: 50px;
  }

  .column1 {
    flex: 0 0 auto;
    align-self: center;
  }

  .column2 {
    padding: 10px;
    align-self: center;
  }
  .column3 {
    padding: 10px;
    align-self: center;
  }
  .column3 h3 {
    color: #003434;
    text-align: left;
    font-weight: bolder;
    font-size: 22px;
  }

  .column3 p {
    text-align: left;
    color: #686868;
    font-size: 16px;
    font-weight: normal;
  }

  .container2 {
    background-color: #003434;
    border-radius: 0px;
    position: relative;
    top: 100px;
    margin: 0 auto;
    height: auto;
    width: auto;
  }

  .features-row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    top: 0;
  }

  .item {
    width: auto;
    padding: 0;
    text-align: center;
    background-color: transparent;
    color: rgb(151, 176, 183);
    transition: transform 0.3s ease;
    align-items: center;
  }

  .item h4,
  p {
    background-color: transparent;
  }

  .container3 {
    margin: 0 auto;
    height: auto;
    width: auto;
  }
  .features-row2 {
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 20px;
  }

  .layout {
    height: 200px;
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
  }

  .layout-1 {
    width: 100%;
    margin: 0 auto;
    align-self: flex-start;
  }

  .layout-1 h4,
  p {
    font-size: 18px;
    text-align: start;
  }
  .layout a {
    font-size: 16px;
    color: darkblue;
    text-decoration: none;
  }

  .layout-7 {
    display: none;
  }

  .footer {
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer-lyt {
    flex: 1;
    text-align: center;
    padding: 15px;
  }
}
